<!DOCTYPE html>
<html>
  <head>
    <title>Handyman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HandyMan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav float-right">
          <div class='row'>
            <% if user_signed_in? && !current_user.blank? %>   
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
              </li>
            <% else %>
              <li class="nav-item col-auto">
                <%= link_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-social btn-google nav-link'  %>
              </li>
              <li class="nav-item col-auto">
                <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, class: 'nav-link' %>
              </li>
            <% end %>
            </div>
          </ul>
        
      </div>
    </nav>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </body>
</html>

